.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

h3 {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

footer a {
  color: white;
}
.navbar-dark a {
  color: white;
}
main #dropdownMenuLink {
  border-radius: 0%;
}

footer #footerBtn {
  background: transparent;
  border-radius: 0%;
}

.avatar {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 0%;
}

.navbar-login {
  width: 200px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

.dropright {
  position: unset !important;
}

/* <Rasmus */
body {
  background-color: black;
  color: white;
}
h5 {
  font-size: 13px;
  font-weight: 400;
  margin-top: 5px;
}
#tongueID {
  background-color: black;
}

#ageGroupsID {
  background-color: black;
  width: 180px;
  text-align: left;
}

#buttons [type="button"] {
  margin-right: 10px;
  font-weight: 500;
}

#inputUser {
  width: 350px;
  background-color: grey;
  margin: 5px;
}

#btnSave {
  width: 100px;
  height: 35px;
  border-radius: 0;
}

#btnSave:hover {
  background-color: black;
  color: #333333;
}

#btnCancel {
  width: 150px;
  height: 35px;
  border-radius: 0;
}

#btnDelete {
  width: 250px;
  height: 35px;
  border-radius: 0;
}

#logo {
  width: 70px;
  height: 50px;
  margin-left: 25px;
}

#spinnerID {
  width: 60px;
  height: 60px;
  margin-right: 0;
}
